@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700;900&display=swap');

* {
  font-family: 'Unbounded';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html[dir="rtl"] body {
    font-family:'Unbounded';
  }
  
  html.rtl .some-class {
    text-align: right;
    direction: rtl;
  }
  
  html.ltr .some-class {
    text-align: left;
    direction: ltr;
  }
